<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/esquire/assets/17/14/1491236947-screen-shot-2017-04-03-at-121836-pm.png);">
  <p> <%= link_to "Go back to the lists", lists_path, class:'btn btn-primary' %> </p>
  <h1><%= @list.name%></h1>
</div>

<div class="row">
  <div class="col-4">
    <div class="card mt-4" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/200">
      <div class="card-body">
        <% @list.movies.each do |movie| %>
          <h5 class="card-title"><%=  movie.title %></h5>
          <p class="card-text"> <%= movie.overview %></p>
        <% end %>
    </div>
  </div>  
</div>
        <%= link_to "delete this list", list_path(@list), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>

 